<section class="min-h-screen flex items-center justify-center bg-gray-200 px-4">
  <div class="w-full max-w-4xl">
    <div
      class="flex flex-col items-center justify-center bg-white shadow-2xl rounded-2xl p-8 sm:p-12"
    >
      <!-- Title -->
      <h1 class="text-3xl font-bold text-center">
        Forgot <span class="text-blue-600">Password</span>
      </h1>
      <p class="text-sm text-gray-500 mt-2 text-center">Follow the steps to reset your password</p>

      <!-- Stepper -->
      <mat-stepper [selectedIndex]="step() - 1" class="w-full mt-8 bg-transparent">
        <mat-step label="Verify Email"></mat-step>
        <mat-step label="Verify Code"></mat-step>
        <mat-step label="Reset Password"></mat-step>
      </mat-stepper>

      <!-- Content -->
      <div class="w-full mt-10">
        <!-- STEP 1 -->
        @if (step() === 1) {
        <form class="space-y-8" (submit)="onSubmitEmail($event)">
          <div class="relative mb-10">
            <div class="relative">
              <p class="form-label">Email</p>
              <input
                [field]="forgotPasswordForm.email"
                placeholder="you@example.com"
                type="email"
                class="form-input"
              />
            </div>
            <app-form-errors [control]="this.forgotPasswordForm.email()" />
          </div>
          <button
            type="submit"
            class="w-full cursor-pointer py-3 text-lg font-medium text-white bg-blue-600 rounded-lg hover:bg-indigo-600 transition"
          >
            @if (!requestLoading()) { Verify Email } @else {
            <span
              class="inline-block w-5 h-5 border-2 border-white border-t-transparent rounded-full animate-spin"
            ></span>
            }
          </button>
        </form>
        }

        <!-- STEP 2 -->
        @else if (step() === 2) {
        <form class="space-y-8" (submit)="onSubmitCode($event)">
          <div class="relative mb-10">
            <div class="relative">
              <p class="form-label">Reset Code</p>
              <input
                [field]="resetCodeForm.resetCode"
                placeholder="Enter code"
                type="text"
                class="form-input"
              />
            </div>
            <app-form-errors [control]="this.resetCodeForm.resetCode()" />
          </div>
          <button
            type="submit"
            class="w-full py-3 cursor-pointer text-lg font-medium text-white bg-blue-600 rounded-lg hover:bg-indigo-600 transition"
          >
            @if (!requestLoading()) { Verify Code } @else {
            <span
              class="inline-block w-5 h-5 border-2 border-white border-t-transparent rounded-full animate-spin"
            ></span>
            }
          </button>
        </form>
        }

        <!-- STEP 3 -->
        @else if (step() === 3) {
        <form class="space-y-8" (submit)="onSubmitChangePassword($event)">
          <div class="relative mb-10">
            <div class="relative">
              <p class="form-label">Email</p>
              <input [field]="changePasswordForm.email" type="email" class="form-input" />
            </div>
            <app-form-errors [control]="this.changePasswordForm.email()" />
          </div>

          <div class="relative mb-10">
            <div class="relative">
              <p class="form-label">New Password</p>
              <input [field]="changePasswordForm.newPassword" type="password" class="form-input" />
            </div>
            <app-form-errors [control]="this.changePasswordForm.newPassword()" />
          </div>
          <button
            type="submit"
            class="w-full cursor-pointer py-3 text-lg font-medium text-white bg-blue-600 rounded-lg hover:bg-indigo-600 transition"
          >
            @if (!requestLoading()) { Reset Password } @else {
            <span
              class="inline-block w-5 h-5 border-2 border-white border-t-transparent rounded-full animate-spin"
            ></span>
            }
          </button>
        </form>
        }
      </div>
    </div>
  </div>
</section>
