<div class="grid grid-cols-3 grid-cols-[3fr_1fr_1fr]">
  <div class="flex items-center gap-4">
    <img
      [src]="item().product.imageCover"
      class="w-24 h-24 rounded-lg object-cover"
      [alt]="item().product.title"
      [style.view-transition-name]="'product-image-' + item().product.id"
    />
    <div>
      <div class="text-gray-900 text-lg font-semibold">{{ item().product.title }}</div>
      <div class="text-gray-600 text-lg">${{ item().price }}</div>
    </div>
  </div>
  <app-quantity-selector [quantity]="item().count" [productId]="item().product.id" />

  <div class="flex flex-col items-end">
    <div class="text-right font-semibold text-lg">${{ productTotal() }}</div>
    <div class="flex -me-3">
      <button matIconButton class="danger" (click)="store.removeSpecifiCartItem(item().product.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
