<div class="border border-gray-200 rounded-xl p-6 bg-white">
  <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
    <mat-icon>local_shipping</mat-icon>
    Shipping Information
  </h2>
  <form class="grid grid-cols-1 lg:grid-cols-2 gap-4" (click)="onSubmit($event)">
    <div class="relative">
      <mat-form-field>
        <input
          [field]="shippingForm.shippingAddress.city"
          matInput
          type="text"
          placeholder="City"
        />
      </mat-form-field>
      <app-form-errors [control]="this.shippingForm.shippingAddress.city()" />
    </div>

    <div class="relative">
      <mat-form-field>
        <input
          matInput
          [field]="shippingForm.shippingAddress.phone"
          type="tel"
          placeholder="Phone"
        />
      </mat-form-field>
      <app-form-errors [control]="this.shippingForm.shippingAddress.phone()" />
    </div>

    <mat-form-field class="col-span-2">
      <textarea
        matInput
        [field]="shippingForm.shippingAddress.details"
        type="text"
        placeholder="Details"
      ></textarea>
    </mat-form-field>
  </form>
</div>
