<div class="border border-gray-200 rounded-xl p-6 bg-white">
  <h2 class="text-2xl font-bold mb-4">Order Summary</h2>

  <div class="space-y-3 text-lg pt-4 border-t">
    <div class="flex justify-between">
      <span>Subtotal</span>
      <span>$ {{ subTotal() }}</span>
    </div>

    <div class="flex justify-between">
      <span>Tax</span>
      <span>$ {{ tax() }}</span>
    </div>

    <div class="flex justify-between border-t pt-4 font-bold text-xl">
      <span>Total</span>
      <span>$ {{ totalCartPrice() }}</span>
    </div>
  </div>
  <button matButton="filled" class="w-full mt-6">Proceed to checkout</button>
</div>
